# Joystick
SUBSYSTEM=="input", KERNEL=="js[0-9]*", ATTRS{name}=="Microsoft X-Box 360 pad", \
  SYMLINK+="input/js-joystick"

# TouchScreen
SUBSYSTEM=="input", KERNEL=="js[0-9]*", ATTRS{name}=="TSTP MTouch Mouse", \
  SYMLINK+="input/js-touchscreen"

