<?xml version="1.0"?>
<launch>
    <arg name="gear_rate_above_20_1" default="true"/>

    <node pkg="joy" name="joy_node" type="joy_node">
        <param name="dev" value="/dev/input/js-joystick"/>
    </node>

    <include file="$(find om_modbus_master)/launch/om_modbusRTU.launch"/>
	
    <node pkg="om_cart" name="om_cart" type="om_cart">
        <param name="gear_rate_above_20_1" value="$(arg gear_rate_above_20_1)"/>
    </node>
    
    <node pkg="om_cart" name="om_manual" type="om_manual"/>

</launch>
